In [1]:
import streamlit as st
import openai
import pandas as pd
import numpy as np
from datetime import datetime
import faiss
from sklearn.preprocessing import normalize

In [2]:
import pandas as pd

# Load the CSV files
df1 = pd.read_csv('Resale Flat Prices (Based on Registration Date), From Jan 2015 to Dec 2016.csv')
df2 = pd.read_csv('Resale Flat Prices (Based on Registration Date), From Mar 2012 to Dec 2014.csv')
df3 = pd.read_csv('Resale flat prices based on registration date from Jan-2017 onwards.csv')
df4 = pd.read_csv('Resale Flat Prices (Based on Approval Date), 1990 - 1999.csv')
df5 = pd.read_csv('Resale Flat Prices (Based on Approval Date), 2000 - Feb 2012.csv')

# Merge the dataframes into one (assuming they have the same structure)
df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

# Ensure the 'month' or equivalent date column is in datetime format
df['month'] = pd.to_datetime(df['month'], errors='coerce')

# Save the merged dataframe to a new file
df.to_csv('merged_hdb_resale_prices.csv', index=False)

# Display the first few rows to confirm
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015-01-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015-01-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0
2,2015-01-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0
3,2015-01-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0
4,2015-01-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0

In [ ]:
def create_summaries(df):
    # Aggregate by town and flat_type
    agg_df = df.groupby(['town', 'flat_type']).agg({
        'resale_price': ['mean', 'min', 'max', 'count'],
        'floor_area_sqm': ['mean', 'min', 'max'],
        'month': 'max'  # Most recent transaction
    }).reset_index()

    # Flatten column names
    agg_df.columns = ['_'.join(col).strip() for col in agg_df.columns.values]

    # Create summary texts
    summaries = []
    for _, row in agg_df.iterrows():
        summary = f"In {row['town_']} for {row['flat_type_']} flats: "
        summary += f"Average price: ${row['resale_price_mean']:,.2f}, "
        summary += f"Price range: ${row['resale_price_min']:,.2f} to ${row['resale_price_max']:,.2f}, "
        summary += f"Average size: {row['floor_area_sqm_mean']:.1f} sqm, "
        summary += f"Size range: {row['floor_area_sqm_min']:.1f} to {row['floor_area_sqm_max']:.1f} sqm, "
        summary += f"Based on {row['resale_price_count']} transactions up to {row['month_max'].strftime('%B %Y')}."
        summaries.append(summary)

    return summaries

summaries = create_summaries(df)

In [16]:
df_summary = pd.DataFrame(summaries, columns=['summary'])
df_summary.head(5)

                                             summary
0  In ANG MO KIO for 1 ROOM flats: Average price:...
1  In ANG MO KIO for 2 ROOM flats: Average price:...
2  In ANG MO KIO for 3 ROOM flats: Average price:...
3  In ANG MO KIO for 4 ROOM flats: Average price:...
4  In ANG MO KIO for 5 ROOM flats: Average price:...

In [18]:
# Set up OpenAI API

from openai import OpenAI
openai.api_key = "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"

# Initialize the OpenAI client with a specified project API key for authentication
client = OpenAI(
    api_key="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"
)

# Define a function to generate text embeddings using OpenAI's 'text-embedding-ada-002' model
# This function replaces any newline characters in the input text with spaces to ensure clean input,
# then generates and returns the embedding vector.
def get_embedding(text, model="text-embedding-ada-002"):
   text = text.replace("\n", " ")
   return client.embeddings.create(input = [text], model=model).data[0].embedding

# Apply embedding generation to each 'summary' text in 'df_summary' DataFrame, storing results in a new 'embedding' column
df_summary['embedding'] = df_summary['summary'].apply(lambda x: get_embedding(x))

# Save the updated DataFrame with embeddings to a CSV file for future use, excluding the index column
df_summary.to_csv('df_summary.csv', index=False)